div{
	width: 390px;
	height: 427px;
}
.title{
	height: 45px;
}
.title h3{
	float: left;
	color: white;
	font-size: 18px;
	font-family: "microsoft yahei";
	margin: 9px 0px 0px 18px;
}
.title a{
	float: right;
	color: white;
	font-size: 10px;
	font-family: "microsoft yahei";
	margin: 15px 10px 0 0;
}
.title:first-of-type{
	background: #C43D7E;
}
.conten ul li{
	position: relative;
	float: left;
	width: 184px;
	height: 120px;
	border-style: solid;
	border-color: #e7e7e7;
	border-width:  0px 1px 1px 0px;
}
ul,li{
	list-style: none;
}
span,a{
	margin: 0;
	padding: 0;
}
