.banner-list-right-4{
    width: 199px;
    height: 480px;
    overflow: hidden;
    background:#F3F3F3;
    cursor: pointer;
}
.banner-list-right-4-top{
    width: 182px;
    height: 120px;
    margin: 10px 0 0 8px;
}
.banner-list-right-4-top a{
    float: left;
    width: 90px;
    height: 30px;
    margin: 0 1px 1px 0;
}
.banner-list-right-4-top a img{
    width: 89px;
    height: 30px;
    margin: 0 auto;
}
.banner-list-right-4-bottom{
    width: 180px;
    margin: 11px 0 0 8px;
}
.banner-list-right-4-bottom a img{
    float: left;
    width: 180px;
    height: 100px;
    margin-bottom: 5px;
    overflow: hidden;
}