*{
	font-family: "microsoft yahei";
	text-decoration: none;
	list-style: none;
}
body{
	margin: 0;
}
.banner_top{
	height: 100px;
	background: red;
}
.banner_top>p:first-of-type{
	text-align: center;
	margin: 0;
}
.banner_top>p:last-of-type{
	position: absolute;
	margin: 0;
	top: 3px;
    right: 56px;
    width: 15px;
    height: 15px;
	background: url(../img/index.png) -241px -145px;
	display: inline;
}
.nav_top{
	background: rgb(245,245,245);
}
.nav_top:after{
	content: '';
	display: block;
	clear: both;
}
body>div>div{
	margin: auto;
	width: 1190px;
	position: relative;
}
.nav_top>div>div:first-of-type{
	float: left;
}
.nav_top>div>div:last-of-type{
	float: right;
}
.nav_top a{
	display: inline-block;
	font-size: 12px;
	margin: 10px;
	color: black;
}
.nav_top span{
	color: darkorange;
}
.header_top>div>img{
	width: 190px;
	height: 90px;
	display: inline-block;
}
.search{
	position: absolute;
	left: 300px;
	margin: auto;
	width: 540px;
	height: 100px;
	padding: 30px 0 0 0;
	display: inline-block;
}
.search>form>div{
	border: 2px solid darkorange;
}
.search>form>div>input[type="text"]{
	width: 420px;
	height: 30px;
	border: 0;
	display: inline-block;
}
.search>form>div>input[type="submit"]{
	font-size: 18px;
	color: white;
	width: 114px;
	height: 36px;
	border: 0;
	padding: 0;
	background: darkorange;
	display: inline-block;
}
.search>p{
	margin: 5px;
	font-size: 12px;
	color: gray;
}
.search>p>a{
	color: gray;
}
.search>p>a:hover{
	color: darkorange;
}
.search>p>a>span{
	color: darkorange;
}
.content_3:after{
	content: '';
	display: block;
	clear: both;
}
.content_3>div>div{
	float: left;
	margin: 10px;
	width: 390px;
	height: 427px;
}
.title{
	position: relative;
	height: 45px;
}
.title>h3{
	float: left;
	color: white;
	font-size: 18px;
	margin: 10px 0px 0px 18px;
}
.title>a{
	float: right;
	color: white;
	font-size: 10px;
	margin: 15px 10px 0 0;
	text-decoration: none;
}
.content_3_1>div.title{
	background: green;
}
.content_3_2>div.title{
	background: orange;
}
.content_3_2>div.title>img{
	position: absolute;
    left: 87px;
    bottom: 8px;
    width: 53px;
    height: 53px;
}
ul{
	margin: 0px;
	padding: 0px;
}
.content_3 ul>li{
	position: relative;
	float: left;
	border-style: solid;
	border-color: lightgray;
	list-style: none;
}
.content_3_1>ul>li{
	width: 194px;
	height: 120px;
}
.content_3_2>ul>li{
	width: 194px;
    height: 180px;
}
.border_left{
	border-width: 0px 1px 1px 0px;
}
.border_right{
	border-width: 0px 0px 1px 0px;
}
.content_3 img{
	width: 90px;
	height: 90px;
	bottom: 3px;
	right: 3px;
}
.content_3_1 img{
	position: absolute;
	float: right;
}
.content_3_2 img{
	margin-top: 14px;
}
.content_3_1 a>p{
	width: 76px;
    height: 40px;
    margin: 14px 0 0 15px;
    color: #333;
	font-size: 14px;
}
.content_3_2 a>p:first-of-type{
	padding: 0px 8px;
	height: 20px;
	margin: 14px 0 0 8px;
	background: orange;
	border-radius: 20px;
	color: white;
	font-size: 14px;
	display: inline-block;
}
.content_3_2 a>p:last-of-type{
	color: gray;
	margin: 6px 0 0 16px;
	font-size: 12px;
}
.content_3_1 p>span{
	color: cadetblue;
}
