*{
	font-family: "microsoft yahei";
	text-decoration: none;
	list-style: none;
}
body{
	margin: 0;
}
ul{
	margin: 0px;
	padding: 0px;
}
.hover-darkorange:hover{
	color: darkorange;
}
.banner-top{
	height: 100px;
	background: red;
}
.banner-top>p:first-of-type{
	text-align: center;
	margin: 0;
}
.banner-top>p:last-of-type{
	position: absolute;
	margin: 0;
	top: 3px;
    right: 56px;
    width: 15px;
    height: 15px;
	background: url(../img/index.png) -241px -145px;
	display: inline;
}
.nav-top{
	background: rgb(245,245,245);
}
.clearfix:after{
	content: '';
	display: block;
	clear: both;
}
.div-center{
	margin: auto;
	width: 1190px;
	position: relative;
}
section{
	background: rgb(245,245,245);
}
.bg-white{
	background: white;
}
.nav-top .nav-top-left{
	float: left;
}
.nav-top .nav-top-right{
	float: right;
}
.nav-top a{
	display: inline-block;
	font-size: 12px;
	margin: 10px;
	color: black;
}
.nav-top span{
	color: darkorange;
}
.header-top>div>img{
	width: 190px;
	height: 90px;
	display: inline-block;
}
.search{
	position: absolute;
	left: 300px;
	margin: auto;
	width: 540px;
	height: 100px;
	padding: 30px 0 0 0;
	display: inline-block;
}
.search .search-box{
	border: 2px solid darkorange;
}
.search .search-box input[type="text"]{
	width: 420px;
	height: 30px;
	border: 0;
	outline: none;
	display: inline-block;
}
.search .search-box input[type="submit"]{
	font-size: 18px;
	color: white;
	width: 116px;
	height: 36px;
	border: 0;
	padding: 0;
	outline: none;
	background: darkorange;
	display: inline-block;
}
.search>p{
	margin: 5px;
	font-size: 12px;
	color: gray;
}
.search>p>a{
	color: gray;
}
.search>p>a>span{
	color: darkorange;
}
.nav-bar{
	height: 38px;
}
.nav-bar .nav-bar-left{
	float: left;
	width: 180px;
	height: 38px;
	background: orange;
	padding-left: 10px;
	line-height: 38px;
	color: white;
	font-size: 13px;
	font-weight: bold;
}
.nav-bar .nav-bar-left i{
	width: 12px;
	height: 12px;
	display: inline-block;
	padding-left: 4px;
	background: url(../img/index.png) 0 0;
}
.nav-bar .nav-bar-center{
	width: 785px;
	height: 38px;
	line-height: 38px;
	padding-left: 20px;
	display: inline-block;
	overflow: hidden;
}
.nav-bar .nav-bar-center ul>li{
	float: left;
	margin: 0 10px;
}
.nav-bar .nav-bar-center ul>li>a{
	position: relative;
	font-size: 15px;
	font-weight: bolder;
	color: black;
}
.nav-bar .nav-bar-center ul>li>a:hover{
	color: darkorange;
}
.nav-bar .nav-bar-center ul>li>a>span{
	position: absolute;
	width: 25px;
	height: 8px;
	bottom: -16px;
	left: 50%;
	margin-left: -12px;
	background: url(../img/index.png) -37px 0;
	transition: all .5s;
}
.nav-bar .nav-bar-center ul>li>a:hover>span{
	transform: translateY(-8px)
}
.nav-bar .nav-bar-center ul>li>a>i{
	position: absolute;
	width: 14px;
	height: 17px;
	left: auto;
    right: -14px;
    top: -10px;
	background: url(../img/index.png) -345px -213px;
}
.nav-bar .nav-bar-right{
	float: right;
}
.main-banner{
	background: rgb(200,43,46);
}
.main-banner .banner-list{
	float: left;
	background: black;
	width: 190px;
	height: 487px;
}
.main-banner .banner-list ul>li{
	position: relative;
    width: 175px;
    height: 32px;
    padding: 0 10px;
    line-height: 32px;
	color: white;
	font-size: 13px;
}
.main-banner .banner-list ul>li:hover{
	color: black;
	background: white;
}
.main-banner .banner-logo{
	float: left;
	background: url(../img/main_banner.jpg);
	background-size: cover;
	width: 830px;
	height: 487px;
}
.main-banner .banner-logo .banner-bottom{
	width: 816px;
	height: 122px;
	margin-top: 360px;
	margin-left: 4px;
}
.main-banner .banner-logo .banner-bottom ul>li{
	position: relative;
	float: left;
	width: 202px;
	height: 122px;
	margin: 1px;
}
.main-banner .banner-logo .banner-bottom a>p:first-of-type{
	margin: 10px 0 0 12px;
	font-size: 17px;
	font-weight: bold;
}
.main-banner .banner-logo .banner-bottom .title-1{
	color: red;
}
.main-banner .banner-logo .banner-bottom .title-2{
	color: blueviolet;
}
.main-banner .banner-logo .banner-bottom .title-3{
	color: green;
}
.main-banner .banner-logo .banner-bottom .title-4{
	color: blue;
}
.main-banner .banner-logo .banner-bottom a>p:last-of-type{
	margin: 1px 0 0 12px;
	font-size: 14px;
	color: grey;
}
.main-banner .banner-logo .banner-bottom img{
	position: absolute;
	display: inline;
	right: 10px;
	bottom: 6px;
	width: 80px;
	height: 80px;
}
.main-banner .banner-right{
	margin-top: -5px;
	padding-top: 16px;
	float: left;
	width: 170px;
	height: 487px;
	border-radius: 4px;
}
.main-banner .banner-right div.logo{
	margin: 0 auto;
	background: url(../img/index.png) -93px -23px;
	width: 52px;
	height: 52px;
}
.main-banner .banner-right p{
	color: black;
	text-align: center;
	margin: 12px;
	font-size: 12px;
}
.main-banner .banner-right a.user{
	width: 68px;
	height: 20px;
	line-height: 20px;
	display: inline-block;
}
.main-banner .banner-right .register{
	color: orange;
	border: 1px solid orange;
}
.main-banner .banner-right .super{
	background: url(../img/index.png) -295px -251px;
	vertical-align: top;
	width: 70px;
	height: 22px;
}
.main-banner .banner-right .yunzuan{
	background: url(../img/index.png) -670px -256px; 
}
.main-banner .banner-right .quan{
	background: url(../img/index.png) -670px -288px;
}
.main-banner .banner-right .news{
	text-align: left;
}
.main-banner .banner-right .news>a{
	color: black;
}
.main-banner .banner-right .news:hover{
	color: darkorange;
}
.main-banner .banner-right .news span{
	color: orange;
}
.content-3>div>div{
	float: left;
	margin: 3px;
	width: 390px;
	height: 410px;
}
.content-1>div{
	height: 600px;
	background: url(../img/1_background.png) -365px 0;
}
.content-1 ul{
	padding: 160px 0 0 0;
}
.content-1 ul>li{
	float: left;
	margin: 0 59px;
}
.content-1 a>p:first-of-type{
	margin: 12px 0 0 0;
	text-align: center;
	font-size: 20px;
	color: white;
}
.content-1 a>p:last-of-type{
	margin: 4px 0 32px 0;
	text-align: center;
	font-size: 18px;
	color: red;
}
.content-3 .title{
	position: relative;
	height: 45px;
}
.content-3 .title h3{
	float: left;
	color: white;
	font-size: 18px;
	margin: 10px 0px 0px 18px;
}
.content-3 .title a{
	float: right;
	color: white;
	font-size: 10px;
	margin: 15px 10px 0 0;
	text-decoration: none;
}
.content-3-1 .title{
	background: green;
}
.content-3-2 .title{
	background: orange;
}
.content-3-2 .title img{
	position: absolute;
    left: 87px;
    bottom: 8px;
    width: 53px;
    height: 53px;
}
.content-3 ul>li{
	position: relative;
	float: left;
	list-style: none;
}
.content-3-1 ul>li{
	width: 194px;
	height: 120px;
}
.content-3-2 ul>li{
	width: 194px;
    height: 180px;
}
.border-left{
	border-style: solid;
	border-color: lightgray;
	border-width: 0px 1px 1px 0px;
}
.border-bottom{
	border-style: solid;
	border-color: lightgray;
	border-width: 0px 0px 1px 0px;
}
.content-3 img{
	width: 90px;
	height: 90px;
	bottom: 3px;
	right: 3px;
}
.content-3-1 img{
	position: absolute;
	float: right;
}
.content-3-2 img{
	margin-top: 14px;
}
.content-3-1 a>p{
	width: 76px;
    height: 40px;
    margin: 14px 0 0 15px;
    color: #333;
	font-size: 14px;
}
.content-3-2 a>p:first-of-type{
	padding: 0px 8px;
	height: 20px;
	margin: 14px 0 0 8px;
	background: orange;
	border-radius: 20px;
	color: white;
	font-size: 14px;
	display: inline-block;
}
.content-3-2 a>p:last-of-type{
	color: gray;
	margin: 6px 0 0 16px;
	font-size: 12px;
}
.content-3-1 p>span{
	color: cadetblue;
}
.content_3_3>div.title{
	background: red;
}
.content_3_3 ul>li{
	width: 129px;
	height: 180px;
}
.content_3_3 img{
	display: block;
    width: 80px;
    height: 80px;
    margin: 28px auto 0;
}
.content_3_3_ul a>p:first-of-type{
	padding: 0px 8px;
	width: 100px;
	height: 20px;
	margin: 14px 0 0 8px;
	border-radius: 20px;
	color: black;
	font-size: 10px;
	display: inline-block;
}

.content_3_3_ul>p{
	z-index: 1;
	position: absolute;
    left: 0;
    top: 0px;
    color: #FFF;
    background: #c72c2c;
    border-radius: 12px;
    padding: 0 5px;
    height: 22px;
    font-size: 14px;
}
.content_3_3_ul{
	position: relative;
    float: left;
    width: 390px;
    height: 180px;
}
.content_3_3 .money{
	margin: 1px 0 0 11px;
    color: #b62323;
    font-size: 14px;
}
.content_3_3_ul>p{
	z-index: 1;
	position: absolute;
    left: 0;
    top: px;
    color: #FFF;
    background: #c72c2c;
    border-radius: 12px;
    margin: 5px;
    height: 22px;
    font: 14px/22px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
    display: inline-block;
}
.content_3_3 .tab_1{
	position: absolute;
    width: 23px;
    height: 23px;
    top: 28px;
    right: 22px;
    background: url(../img/index.png) -3px -241px;
    color: #FFF;
    text-align: center;
    font-size: 12px;
}
.content_3_3 .tab_2{
	position: absolute;
    width: 23px;
    height: 23px;
    top: 28px;
    right: 22px;
    background: url(../img/index.png) -32px -241px;
    color: #FFF;
    text-align: center;
    font-size: 12px; 
}
.content_3_3 .tab_3{
	position: absolute;
    width: 23px;
    height: 23px;
    top: 28px;
    right: 22px;
    background: url(../img/index.png) -61px -241px;
    color: #FFF;
    text-align: center;
    font-size: 12px;
}
.content-3-4 .title{
	height: 45px;
	position: relative;
    width: 100%;
    color: #FFF;
    background: #C43D7E;
}
.content-3-4 .title h3{
	float: left;
	color: white;
	font-size: 18px;
	margin: 9px 0px 0px 18px;
}
.content-3-4 .title a{
	float: right;
	color: white;
	font-size: 10px;
	margin: 15px 10px 0 0;
}
.content-3-4 ul{
	width: 390px;
	height: 363px;
	padding: 0;
}
.content-3-4 ul li.first{
    height: 241px;
}
.content-3-4 ul li {
    position: relative;
    float: left;
    width: 194px;
    height: 120px;
    border-style: solid;
    border-color: #e7e7e7;
    list-style: none;
}
.content-3-4 ul li a {
    float: left;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.content-3-4 ul li.first p.name {
    width: 140px;
    height: 20px;
    overflow: hidden;
    margin: 14px 0 0 15px;
    color: #333;
    font-size: 14px;
    word-break: break-all;
}
.content-3-4 ul li.first p.desc {
    width: 144px;
    margin-top: 3px;
    color: #c43e7e;
    height: 16px;
    overflow: hidden;
    margin: 10px 0 0 15px;
    font-size: 12px;
}
.content-3-4 ul li.first img {
    width: 160px;
    height: 160px;
    left: 13px;
    top: auto;
    right: auto;
    bottom: 0;
    position: absolute;
    display: block;
}
.content-3-4 ul li p.name {
    width: 72px;
    height: 40px;
    overflow: hidden;
    margin: 14px 0 0 15px;
    color: #333;
    font-size: 14px;
    word-break: break-all;
}
.content-3-4 ul li p.desc {
    width: 72px;
    height: 16px;
    overflow: hidden;
    color: #999;
    margin: 10px 0 0 15px;
    font-size: 12px;
}
.content-3-4 ul li img {
    position: absolute;
    display: block;
    width: 90px;
    height: 90px;
    bottom: 3px;
    right: 3px;
}
.content-3-4 .title-2{
	height: 45px;
	position: relative;
    width: 100%;
    color: #FFF;
    background: #6D55BD;
}
.content-3-4 .title-2 h3{
	float: left;
	color: white;
	font-size: 18px;
	margin: 9px 0px 0px 18px;
}
.content-3-4 .title-2 a{
	float: right;
	color: white;
	font-size: 10px;
	margin: 15px 10px 0 0;
}
.content-3-4 .title-3{
	height: 45px;
	position: relative;
    width: 100%;
    color: #FFF;
    background: #325BB5;
}
.content-3-4 .title-3 h3{
	float: left;
	color: white;
	font-size: 18px;
	margin: 9px 0px 0px 18px;
}
.content-3-4 .title-3 a{
	float: right;
	color: white;
	font-size: 10px;
	margin: 15px 10px 0 0;
}
.content-3-4 ul li.first p.desc2{
    width: 144px;
    margin-top: 3px;
    color: #6D55BD;
    height: 16px;
    overflow: hidden;
    margin: 10px 0 0 15px;
    font-size: 12px;
}
.content-3-4 ul li.first p.desc3{
    width: 144px;
    margin-top: 3px;
    color: #325BB5;
    height: 16px;
    overflow: hidden;
    margin: 10px 0 0 15px;
    font-size: 12px;
}
