*{
	font-family: "microsoft yahei";
	text-decoration: none;
	list-style: none;
}
body{
	margin: 0;
}
.banner_top{
	height: 100px;
	background: red;
}
.banner_top>p:first-of-type{
	text-align: center;
	margin: 0;
}
.banner_top>p:last-of-type{
	position: absolute;
	margin: 0;
	top: 3px;
    right: 56px;
    width: 15px;
    height: 15px;
	background: url(../img/index.png) -241px -145px;
	display: inline;
}
.nav_top{
	background: rgb(245,245,245);
}
.nav_top:after{
	content: '';
	display: block;
	clear: both;
}
body>div>div{
	margin: auto;
	width: 1190px;
	position: relative;
}
.nav_top>div>div:first-of-type{
	float: left;
}
.nav_top>div>div:last-of-type{
	float: right;
}
.nav_top a{
	display: inline-block;
	font-size: 12px;
	margin: 10px;
	color: black;
}
.nav_top span{
	color: darkorange;
}
.header_top>div>img{
	width: 190px;
	height: 90px;
	display: inline-block;
}
.search{
	position: absolute;
	left: 300px;
	margin: auto;
	width: 540px;
	height: 100px;
	padding: 30px 0 0 0;
	display: inline-block;
}
.search>form>div{
	border: 2px solid darkorange;
}
.search>form>div>input[type="text"]{
	width: 420px;
	height: 30px;
	border: 0;
	display: inline-block;
}
.search>form>div>input[type="submit"]{
	font-size: 18px;
	color: white;
	width: 114px;
	height: 36px;
	border: 0;
	padding: 0;
	background: darkorange;
	display: inline-block;
}
.search>p{
	margin: 5px;
	font-size: 12px;
	color: gray;
}
.search>p>a{
	color: gray;
}
.search>p>a:hover{
	color: darkorange;
}
.search>p>a>span{
	color: darkorange;
}