*{
	font-family: "microsoft yahei";
	text-decoration: none;
	list-style: none;
}
body{
	margin: 0;
}
ul{
	margin: 0px;
	padding: 0px;
}
.a-black{
	color: black;
}
.hover-darkorange:hover{
	color: darkorange;
}
.banner-top{
	height: 100px;
	background: red;
}
.banner-top>p:first-of-type{
	text-align: center;
	margin: 0;
}
.banner-top>p:last-of-type{
	position: absolute;
	margin: 0;
	top: 3px;
    right: 56px;
	background: url(../img/index.png) -241px -145px;
	display: inline;
}
.nav-top{
	background: rgb(245,245,245);
}
.clearfix:after{
	content: '';
	display: block;
	clear: both;
}
.div-center{
	margin: auto;
	width: 1190px;
	position: relative;
}
section{
	padding: 10px;
	background: rgb(245,245,245);
}
.bg-white{
	background: white;
}
.nav-top .nav-top-left{
	float: left;
}
.nav-top .nav-top-right{
	float: right;
}
.nav-top label{
	position: relative;
	display: inline-block;
	font-size: 12px;
	padding: 10px;
	color: black;
}
.nav-top .nav-top-div{
	z-index: 1;
	position: absolute;
	left: -1px;
	top: 36px;
	display: none;
	border-style: solid;
	border-color: lightgray;
	border-width: 0px 1px 1px 1px;
	padding: 5px;
}
.nav-top .nav-top-div ul>li{
	float: left;
	width: 70px;
	padding: 5px 0 5px 10px;
}
.nav-top label:hover{
	background: white;
}
.nav-top label:hover .nav-top-div{
	display: block;
}
.nav-top .div-1{
	width: 1020px;
}
.nav-top .div-1 dl{
	float: left;
	width: 200px;
}
.nav-top .div-1 dl>dt{
	color: black;
	font-size: 14px;
	font-weight: bold;
	margin: 5px 15px 5px 20px;
}
.nav-top .div-1 dl>dd{
    float: left;
	position: relative;
	display: block;
	width: 65px;
	font-size: 12px;
	margin: 5px 15px 5px 20px;
}
.nav-top .div-1 .hot{
	position: absolute;
    width: 16px;
    height: 16px;
    left: auto;
    top: -4px;
    background: url(../img/npbg.png) 0 -205px;
}
.nav-top .div-2{
	width: 160px;
}
.nav-top .div-3{
	width: 80px;
}
.nav-top .div-4{
	width: 280px;
	height: 400px;
	padding-top: 160px;
}
.nav-top .div-4 p{
	text-align: center;
	font-size: 18px;
	color: grey;
}
.nav-top .div-5{
	width: 550px;
	z-index: 1;
	position: absolute;
	right: -1px;
	top: 36px;
	display: none;
	border-style: solid;
	border-color: lightgray;
	border-width: 0px 1px 1px 1px;
}
.nav-top .div-5 ul>li{
	float: left;
	width: 180px;
}
.nav-top .div-5 p{
	text-align: center;
	color: black;
	margin: 10px;
}
.nav-top .div-5 img{
	width: 147px;
	height: 147px;
}
.nav-top label:hover .div-5{
	display: block;
}
.nav-top .nav-top-div img{
	vertical-align: middle;
	margin: 10px;
}
.a-darkorange{
	color: darkorange;
}
.border-left{
	border-style: solid;
	border-color: lightgray;
	border-width: 0px 1px 1px 0px;
}
.border-bottom{
	border-style: solid;
	border-color: lightgray;
	border-width: 0px 0px 1px 0px;
}
.border-right{
	border-style: solid;
	border-color: lightgray;
	border-width: 0px 1px 0px 0px;
}