*{
	list-style: none;
}
.content-4{
    width: 1190px;
    height: 530px;
    overflow: hidden;
    margin: 0 auto;
    cursor: pointer;
}
.content-4-left{
	width: 790px;
	float: left;
	height: 540px;
	overflow: hidden;
}
.content-4-left ul{
	width: 800px;
}
.content-4-left ul li{
	position: relative;
	float: left;
	width: 390px;
	height: 170px;
	margin: 0 10px 10px 0;
	overflow: hidden;
}
.content-4-left ul li a{
	display: block;
	width: 100%;
	height: 126px;
	padding-top: 44px;
}
.content-4-left ul li a img{
    position: absolute;
    width: 170px;
    height: 170px;
    right: -20px;
    top: 0;
    background: 0;
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    -moz-transition: transform .5s,-moz-transform .5s;
    transition: transform .5s;
    transition: transform .5s,-webkit-transform .5s,-moz-transform .5s;
}
.content-4-left ul li a span.line{
	margin-left: 35px;
	display: block;
	height: 2px;
	background: url(../img/index.png);
	z-index: 1;
	position: relative;
}
.content-4-left ul li a span.n-line{
	width: 78px;
	background-position: -102px -245px;
}
.content-4-left ul li a p.name{
	margin: 5px 0 5px 35px;
    font-family: "微软雅黑";ss
	font-size: 20px;
	font-weight: bold;
	line-height: 26px;
    height: 26px;
}
.content-4-left ul li a span.w-line{
		width: 154px;
	background-position: -101px -253px;
}
.content-4-left ul li a p.desc{
	margin: 5px 0 0 35px;
    font: 14px/20px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
    height: 20px;
}
.content-4-left ul li a p{
    position: relative;
    color: #FFF;
    width: 160px;
    overflow: hidden;
    z-index: 1;
}
.content-4-left ul li a img{
	right: 25px;
}
.content-4-left ul li.item1{
	background: -webkit-gradient(linear,0 0,right 0,from(#e89621),to(#f5c568));
}
.content-4-left ul li.item2{
	background: -webkit-gradient(linear,0 0,right 0,from(#325bb4),to(#4c9afe));
}
.content-4-left ul li.item3{
	background: -webkit-gradient(linear,0 0,right 0,from(#1c9daf),to(#40cda7));
}
.content-4-left ul li.item4{
	background: -webkit-gradient(linear,0 0,right 0,from(#d13837),to(#df6d4f));
}
.content-4-left ul li.item5{
	background: -webkit-gradient(linear,0 0,right 0,from(#ca4283),to(#eb75cf));
}
.content-4-left ul li.item6{
	background: -webkit-gradient(linear,0 0,right 0,from(#5d40c1),to(#8c5fdb));
}
.content-4-right-top{
	float: left;
	width: 390px;
	height: 350px;
	margin-left: 10px;
}
.content-4-right-top-title{
	width: 100%;
	height: 45px;
	color: #FFFFFF;
	background-color: #3f3435;
	font-size: 12px;
	line-height: 1.5;
}
.content-4-right-top-title>h5{
	font-size: 18px;
	font-weight: bold;
	line-height: 45px;
	margin-top: 16px;
	padding-left: 15px;
}
.content-4-right-top-1{
	position: relative;
    width: 390px;
    height: 227px;
    overflow: hidden;
}
.content-4-right-top-1 a{
	position: absolute;
     width: 100%;
    height: 100%;
}
.content-4-right-top-1 a img{
	display: block;
	width: 390px;
	height: 227px;
}
.content-4-right-top-1 a div{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 45px;
    background: #000;
    opacity: .5;
}
.content-4-right-top-1 a p.name{
    position: absolute;
    bottom: 0;
    left: 35px;
    width: 320px;
    height: 31px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #FFF;
    line-height: 45px;
}
.content-4-right-top-2{
	position: relative;
	width: 390px;
	height: 73px;
	margin-top: 5px;
	overflow: hidden;
}
.content-4-right-top-2 a{
	float: left;
    height: 73px;
    width: 128px;
    margin: 1px;
}
.content-4-right-top-2 a img{
	width: 128px;
	height: 73px;
	display: block;
}
.content-4-right-bottom{
	float: left;
	width: 390px;
	height: 170px;
	margin: 10px 0 0 10px;
	overflow: hidden;
}
.content-4-right-bottom ul{
	width: 400px;
   padding: 0;
}
.content-4-right-bottom ul li{
	position: relative;
	float: left;
	width: 190px;
	height: 170px;
	margin: 0 10px 0 0;
	overflow: hidden;
}
.content-4-right-bottom-1{
	background: -webkit-gradient(linear,0 0,right 0,from(#6ea166),to(#9fc766));
}
.content-4-right-bottom-2{
	background: -webkit-gradient(linear,0 0,right 0,from(#4023bb),to(#5871e9));
}
.content-4-right-bottom ul li a{
	display: block;
	width: 100%;
	height: 152px;
	padding-top: 18px;
}
.content-4-right-bottom ul li a p.name{
	font-size: 20px;
	font-weight: bold;
	line-height: 26px;
	height: 26px;
	margin: 0 0 5px 35px;
}
.content-4-right-bottom ul li a p.desc{
	font-size: 14px;
	line-height: 20px;
	height: 20px;
	width: 126px;
	margin: 0 0 0 35px;
}
.content-4-right-bottom ul li a p{
	color: #FFFFFF;
	width: 120px;
	overflow: hidden;
}
.content-4-right-bottom ul li a img{
	position: absolute;
	width: 190px;
	height: 100px;
	left: 0;
	bottom: 0;
	background: 0;
}
.content-4-left ul li a:hover img{
	transform: translateX(-15px);
	transition: all 1s ease-out;
}
.content-4-right-top div a:hover p{
	color: orange;
} 
.content-4-right-top div a img:hover{
	transform: scale(1.1);
	transition: all .5s;
} 
.content-4-right-bottom ul li a:hover img{
	transform: translateY(-15px);
	transition: all 1s ease-out;
}
