.haed{
	width: 990px;
	height: 88px;
	margin: 0 auto;
}
.login{
	float: right;
	margin-top: 63px;
}
.logo-snyg{
	float: left;
	width: 190px;
	height: 80px;
	margin-right: 24px;
	background: url(../img/sprite.png)
}
.logo-text{
	float: left;
	font-size: 18px;
	color: #667D7D;
	line-height: 88px;
}
.clearfix:after{
	display: block;
	height: 0;
	clear: both;
}
.main{
	width: 990px;
	height: 360px;
	margin: 0 auto;
	border: 3px solid #f90;
	background: #fff;
	padding: 55px 0;
	line-height: 1.5;
}
.reg-form{
	width: 380px;
	margin: 0 auto;
}
.gift{
	font-size: 14px;
	line-height: 17px;
	padding-left: 2px;
	margin-bottom: 17px;
}
.gift i{
	float: left;
	width: 19px;
	height: 17px;
	margin-right: 6px;
	background: url(../img/sprite.png) -75px -93px no-repeat;
}
.gift em{
	color: #f40;
}
.input-1{
	width: 378px;
	height: 38px;
	border: 1px solid #ccc;
	line-height: 38px;
	margin-bottom: 25px;
}

.title{
	font-size: 10px;
	float: left;
	width: 76px;
	padding-left: 11px;
}
.input-wrapper{
	position: relative;
	float: left;
}
.input-2{
	width: 378px;
	height: 38px;
	border: 1px solid #CCC;
	line-height: 38px;
	margin-bottom: 25px;
}
.title-2{
	font-size: 10px;
	float: left;
	width: 76px;
	padding-left: 11px;
}
.input-wrapper-2{
	position: relative;
	float: left;
}
input{
	border: 0;
	outline: none;
	width: 136px;
}
.send-msg{
    width: 148px;
    height: 100%;
    line-height: 38px;
    text-align: center;
    background: #f5f5f5;
    border: 1px solid #bbb;
    font-size: 14px;
    display: inline-block;
}
.input-3{
	width: 378px;
	height: 38px;
	border: 1px solid #CCC;
	line-height: 38px;
	margin-bottom: 25px;
}
.title-3{
	font-size: 10px;
	float: left;
	width: 76px;
	padding-left: 11px;
}
.input-wrapper-3{
	position: relative;
	float: left;
}
.save{
    width: 380px;
    height: 40px;
    margin: 0 auto;
}
.save{
    width: 100%;
    line-height: 40px;
    background: #f60;
    font-size: 25px;
    color: #fff;
    margin: 24px 0 5px;
}
.submit{
	margin-top: 80px;
	display: block;;
    text-align: center;
}
.submit a{
	color: white;
}
.enter-reg{
    color: #FF6600;
    font-size: 14px;
    float: left;
    height: 21px;
}
.save i{
	float: left;
	width: 17px;
	height: 18px;
	background: url(../img/sprite.png) -141px -93px;
	margin: 11px 5px 0;
	display: inline-block;
}
